body{
    min-height: 100vh;
    display: grid; 
    grid-template-rows: auto 1fr auto; 
    align-items: center;
    background-color: var(--footer-bg);
}

header{
    color: white;
    padding-block: 0.6rem;

    & .fa-solid{
        color: white;
    }

    & .logo:hover{
        scale: 0.9;
    }

    & .logo .fa-solid{
        font-size: 1.5rem;
    }

    & .register:visited{
        border: 1px solid rgb(152, 154, 189);
        padding: 0.5rem 1.1rem;
    }


    & .sign-in:hover{
        border: 1px solid rgb(152, 154, 189);
        padding: 0.5rem 1.1rem;
    }

    & .cart:hover{
        border: 1px solid rgb(152, 154, 189);
        padding: 0.5rem 1.1rem;
    }
}

main{
    /* background-color: brown; */
    margin-inline: auto;
    color: white;
    font-size: 0.8rem;
    line-height: 25px;
    width: 25%;

    & form{
        padding: 5px;
    }

    & .mb{
        margin-bottom: 15px;
    }

    & input.input{
        width: 100%;
        border-radius: 6px;
        padding: 5px;
    }

    & .btn-create-account{
        padding: 4px 8px;
        background-color: var(--blue-button);
        border-radius: 4px;
        margin-top: 8px;
    }
}

@media (width<1300px) {
    main{
        width: 30%;
    }
}

@media (width<1000px) {
    main{
        width: 40%;
    }
}

@media (width<770px) {
    main{
        width: 50%;
    }
}

@media (width<550px) {
    main{
        width: 65%;
    }
}

@media (width<400px) {
    main{
        width: 70%;
    }
}